body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img{
  width: 400px;
  height: 300px;
}
.card{
  margin: 10px 10px;
  color: red;
  text-align: center;
  box-shadow: 3px 3px   rgba(0, 0, 0, 0.082);
}
#group{ 
  margin-left: 57px;
}
.card img{
  border-bottom: rgb(95, 94, 94) 3px solid;
}